@import "bootstrap-sprockets";
@import "bootstrap";
*{
  box-sizing:border-box;
}

body{
  background-color:#c0dfd9;
  font-size:18px;
  font-family:Helvetica, 儷中黑;
  color:#534847;
}

h1{
  text-align:center;
}

.mycontent{
  background:#e9ece5;
  width:50%;
  padding:10px;
  margin:30px auto;
  border-radius:20px;
  box-shadow:3px 3px 3px #7C7877;
}

.mybtn{
  display:inline-block;
  width:100px;
  margin:0 auto;

}

button:hover{
  text-decoration:none;
}

.clearfix{
  clear:both;
}



.list{
  background:#e9ece5;
  padding:15px 30px;
  margin:20px auto;
  border-radius:20px;
  box-shadow:3px 3px 3px #7C7877;

}

.item{
  display:inline-block;
  border:red;
}


